$main-light-color: #F6F9FE;

$main-dark-color: #154E7C;

$main-2nd-color: #2378BB;

$main-3rd-color: #30A4FF;

$accent-color: #B2301F;

$accompanying-color: #4F150C;

$main-logo-pop-color: #E73F26;

$main-grey: #B2B2B2;

$main-red: #ff8282;
