# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules

# Eclipse
.project

# Sencha
build/
ext/
packages/
classic.json
classic.jsonp
modern.json
bootstrap.js
bootstrap.css
bootstrap.jsonp
sass/example/example.css
sass/example/bootstrap.json
sass/example/bootstrap.jsonp
sass/example/bootstrap.js
index.html

# Coverage
.instrumented/
test/.index_coverage.html
coverage/
