# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules

# Eclipse
.project

# Sencha 
build/
ext/
packages/
classic.json
sass/example/example.css
sass/example/bootstrap.json
sass/example/bootstrap.js

# Coverage
.instrumented/
test/.index_coverage.html
coverage/

