.trans-en {
    background-image: url(../../../../resources/images/gb.png);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.trans-de {
    background-image: url(../../../../resources/images/de.png);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.trans-mn {
    background-image: url(../../../../resources/images/mn.png);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.translation-btn {
    margin: 5px;
    padding: 5px;
}
